@{  
   ViewData["Title"] = "Home Page";  
}  

@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-info">
        @ViewBag.Mensaje
    </div>
}

<div class="d-flex justify-content-center align-items-center vh-100">  
  <div class="text-center">  
     <h1 class="display-4">DAC Envios</h1>  
     <p class="lead">Bienvenido a la aplicación de gestión de envíos.</p>  
     <a class="btn btn-primary" href="/Usuario/Login">Ingresar</a>  
  </div>  
</div>
