@model ObligatorioP3.Models.ModificarUsuarioViewModel

@{
    ViewData["Title"] = "Modificar Usuario";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Modificar Usuario</h3>
                </div>
                <div class="card-body">
                    
                    <form asp-action="ModificarUsuario" autocomplete="off">
                        <input type="hidden" asp-for="Usuario.Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <div class="mb-3">
                            <label asp-for="Usuario.Nombre" class="form-label"></label>
                            <input asp-for="Usuario.Nombre" class="form-control" />
                            <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Usuario.Apellido" class="form-label"></label>
                            <input asp-for="Usuario.Apellido" class="form-control" />
                            <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Usuario.Email" class="form-label"></label>
                            <input asp-for="Usuario.Email" class="form-control" />
                            <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Usuario.Rol" class="form-label"></label>
                            <select asp-for="Usuario.Rol" class="form-select" asp-items="Model.Roles">
                            </select>
                            <span asp-validation-for="Usuario.Rol" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a asp-controller="Usuario" asp-action="MostrarUsuarios" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-left"></i> Volver a la lista
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="bi bi-save"></i> Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

